* {box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}
 


 body {
 	width: 700px;
 	height: 600px;
 	background:#fff;
 	margin-left: 600px;
 	font-family: monospace;

 }

    div {
	width: 700px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
}

input  {
	width: 280px;
	padding: 7px;
	font-size: 17px;
	border-radius: 7px;
}

   #ingresar_alumno {
	background: #73ACF9;
	color: #fff;
	width: 560px;
	padding: 7px;
	margin-top: 20px;
	margin-left: 20px;

}

	#eliminar_alumno {
		background: #FA9186;
		color: #fff;

	}

	#buscar_alumno {
		background: #22A636;
		color:#fff;
	}